:root {
    --height-header: 60px;
    --height-todolist: 300px;
    --height-todolist-header: 30px;

    --width-todolist: 400px;

    --color-green: rgb(30, 255, 0);
    --color-red-button: rgb(148, 21, 21);
    --color-red-li-hover: rgb(27, 172, 8);
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dancing Script", cursive;
}

#input-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

.content {
    background-color: blanchedalmond;

    margin: 20px;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-around;  
}

.todolist {
    background-color: #e6e2d3;
    height: 90%;
    padding: 0 40px;
    width: 100%;
    
}
.todolist > p {
    margin-bottom: 20px;
}
.todo_container {
    background-color: rgb(223, 220, 203);
    margin-bottom: 15px;
    display: flex;
}
.todo_container > div {
    width: 80%;
}
.todo_container  > div > input {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    padding-left: 10px;
}
.todo_container > button {
    width: 5%;
}

button {
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: brown;
    font-size: 1.4rem;
}
button:hover {
    font-size: 1.6rem;
}
