:root {
    --height-header: 60px;
    --height-todolist: 300px;
    --height-todolist-header: 30px;

    --width-todolist: 400px;

    --color-green: rgb(30, 255, 0);
    --color-red-button: rgb(148, 21, 21);
    --color-red-li-hover: rgb(27, 172, 8);
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dancing Script", cursive;
}

.header {
    height: var(--height-header);
    width: 100%;

    background: linear-gradient(to right, black, var(--color-green));
    line-height: var(--height-header);
    color: white;
    padding-left: 10px;

    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: 2px;
}
#input-container {
    display: flex;
    justify-content: center;

}


.content {
    background-color: blanchedalmond;

    height: calc(100% - var(--height-header));
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.todolist {
    background-color: var(--color-green);
    height: var(--height-todolist);
    width: var(--width-todolist);

    box-shadow: 5px 5px 2px black;
    border-radius: 5px;
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

button {
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: brown;
    font-size: 1.4rem;
}
button:hover {
    font-size: 1.6rem;
}
