:root {
    
    --color-background: rgb(223, 220, 203);
    --color-green: rgb(30, 255, 0);
    --color-delete-button: #c94c4c;
    --color-blue-button: #008cba;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dancing Script", cursive;
}

#input-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;

}
#input-container > button {
    margin-left: 20px;
    background-color: var(--color-blue-button);
    color: #f0f0f0;
    font-size: 1.4rem;
    padding: 0.4rem;
}

#input-container > input {
    width: 350px;
    padding: 0 10px;
}

.content {
    background-color: blanchedalmond;

    margin: 20px;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-around;  
}

.todolist {
    background-color: #e6e2d3;
    height: 90%;
    padding: 0 40px;
    width: 100%;
    
}
.todolist > p {
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: 800;
}
.todo_container {
    background-color: var(--color-background);
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.todo_container > div {
    width: 80%;
    text-align: center;
}
.todo_container  > div > input {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    padding-left: 10px;
}
.todo_container > button {
    background-color: #e6e2d3;
    width: 5%;
}
svg {
    fill: #f0f0f0;
    
}
.editbtn > svg {
    background-color: var(--color-blue-button);
}
.dlebtn > svg {
    background-color: var(--color-delete-button);
}
.completedbtn > svg {
    background-color: #4caf50;
}

button {
    margin-right: 3px;
    border: none;
}

